.container-theme {
  position:fixed;
  top: 35px;
  right: 180px;
  text-align: center;
}

.circle-icon {
  background-color:#fcbb3b;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 10px;
  color:#a67e1e;
}

.BlockRoundIcon a:hover .circle-icon {
  background-color: #d7a625;
  padding: 20px;
  border-radius: 50%;
  margin-bottom: 10px;
  color: #7f6216;
}

.BlockRoundIcon a:hover>div {
  color: #5c5c5c;
  text-decoration: none;
}


.BlockRoundIcon>a>div {
  color:#888888;
}

.BlockRoundIcon {
  margin-bottom: 30px;
  text-decoration: none;
}

.title-theme {
  color: #f14132;
  text-align: left;
  margin-bottom:30px;
}

.title-theme>:first-of-type {
  line-height: 0px;
  font-size: 22px;
}

.title-theme>:last-of-type {
  font-weight: bold;
  font-size: 35px;
}