.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.theme-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.category-title {
  color: #c2ccda;
  font-size: 50px;
}

.card-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.card-img {
  width: 150px;
  height: 120px;
}

.card-text {
  text-align: center;
}
.theme-title {
  display: flex;
  justify-content: space-around;
}

.horizontal-line {
  border: 2px solid #a7a7a7;
  width: 20%;
  height: 5%;
  border-radius: 20%;
  margin-top: 5%;
}

.hr-full {
  border: 0;
  height: 1px;
  width: 90%;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

@media screen and (min-width: 1024px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 2%;
  }

  .card-img {
    width: 363px;
    height: 288px;
  }
  .section-container {
    flex-direction: row;
  }
  .logos {
    justify-content: space-evenly;
  }
}
