header {
  border: 3px orange solid;
}

.logo {
  border: 2px red solid;
}

section {
  border: 3px purple solid;
}

nav {
  border: 2px yellow solid;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.theme-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-img {
  width: 150px;
  height: auto;
}

@media screen and (min-width: 1024px) {
  .card-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 2%;
  }

  .card-img {
    width: 363px;
    height: 288px;
  }
  .section-container {
    flex-direction: row;
  }
}
