.logo-footer {
  width: 250px;
  height: 130px;
}

footer {
  background-color: black;
  color: white;
  padding-top: 2%;
  margin-top: 5%;
}

.contact {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.contact ul {
  margin: 0 0.5vw;
}
.contact li {
  list-style-type: none;
}

.contact-btn {
  background-color: transparent;
}
