.logo-footer {
  width: 250px;
  height: 130px;
  margin: 0 45%;
}

h4 {
  margin-bottom: 0%;
}

footer {
  background-color: #333;
  color: white;
  padding: 1% 0;
}

.contact {
  display: flex;
  justify-content: space-between;
  text-align: left;
}
.contact ul {
  margin: 0 0.5vw;
}
.contact li {
  list-style-type: none;
}

.contact-btn {
  background-color: #333;
  color: white;
  border: 2px solid white;
  margin: 8% auto;
  padding: 8%;
  width: 100%;
}
