.title_p {
  color: rgb(241, 8, 8);
  font-size: 4em;
}
.number {
  color: rgb(241, 8, 8);
}
.roundedImage {
  border-radius: 100px;
  width: 90px;
  height: 90px;
}
.logoMinister {
  width: 350px;
  height: auto;
}

.orange-bar {
  background-color: #fcbb3b;
  width: 30%;
  height: 14px;
  margin: 60px auto;
}

.container-patrimoine {
  padding: 0 15%;
}

.padding-text {
  padding: 0 25px;
}
