.text_1 h4 {
  padding-top: 20px;
  line-height: 5px;
  margin: 0 0 4px 0px;
  color: rgb(56, 53, 53);
}

.km {
  color: rgb(133, 128, 128);
}
.anneereprise {
  color: rgb(133, 128, 128);
}
.anneeRecensement {
  color: rgb(133, 128, 128);
}

.fas {
  font-size: 24px;
}
.containerImg {
  display: flex;
  max-width: 40%;
  justify-content: space-evenly;
}
.bg-color {
  background-color: rgb(245, 245, 245);
}
/* SOCIAL CONTAINER*/
.social-container {
  padding: 4px 40px;
  margin-top: 50px;
  align-items: center;
}
.social-follow {
  text-align: center;
  color: rgb(163, 158, 158);
}
.social-icons {
  text-align: center;
}
a.social {
  margin: 0 10px;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: rgb(187, 15, 110);
}
